@model List<Category>

@section title {
   <h3>Manage Categories</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId" >Edit</a>
                    </td>
                    <td>
                        @* <a class="btn btn-primary" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId">Edit</a> *@
                        <a class="btn btn-secondary" >Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}